@model IEnumerable<YPTriMembership.Models.Skill>

@{
    ViewBag.Title = "Index";
}

<h2>Current Skills in the YPTC database</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
 
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SkillId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SkillId })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to Admin Portal", "Index", "Admin")
</div>
