<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - YPTC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div style="background-image:url('../Images/banner.png'); background-position:center; background-repeat:no-repeat; background-size:cover;" class="navbar navbar-inverse navbar-fixed-top">     
            <div>
                <a href="home/index" class="center"><img class="img-responsive" style="padding-top:10px; margin:0 auto;" src="~/Images/YPTRILOGO2.png" /></a>
            </div>
        <div class="container" style="background-color:black; width:100%;">
            <div class="container" style="width:65%; margin:0 auto;">
                <div class="navbar-header" style="font-size:18px; ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("YPTC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse" style="background-color:black;">
                    <ul class="nav navbar-nav">
                        <li class="hidden-sm">@Html.ActionLink("About", "About", "Home")</li>
                        <li class="hidden-sm">@Html.ActionLink("Member Portal", "Index", "User")</li>
                        <li class="hidden-sm">@Html.ActionLink("Admin Portal", "Index", "Admin")</li>
                        <li class="hidden-sm">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Young Professionals of the Tri-Cities</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
