@model YPTriMembership.Models.Vendor

@{
    ViewBag.Title = "Details";
}

<h2>Details for Vendor</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Street_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State_Abr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State_Abr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Vendor_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
